.DS_Store
.vscode
*.log
*.pyc
__pycache__/

node/node_modules/*
node/db/*.sqlite3
node/dist/

go/db/*.sqlite3

python/.venv/
python/db/*.sqlite3

customer-website/node_modules/
customer-website/dist/
admin-website/node_modules/
admin-website/dist/
go/picochat
